.icons
{
    text-align: center;

}
.icons
{
    text-decoration: none;
    margin-right: 20px;
}
.fa-solid.fa-house.fa-flip.fa-solid.fa-house.fa-flip.fa-5x:hover
{
    color: rgb(155, 131, 131);
}


.fa-solid.fa-house.fa-flip.fa-solid.fa-house.fa-flip.fa-5x{
    color: gray;
}


.fa-brands.fa-youtube.fa-5x
{
    color: red;
}

.fa-brands.fa-youtube.fa-5x:hover
{
    color: orange;
}

.fa-brands.fa-twitter.fa-5x
{
    color: skyblue;
}

.fa-brands.fa-twitter.fa-5x:hover
{
    color: blue;
}
