@font-face{
    src:url(fonts/Roboto-VariableFont_wdth,wght.ttf);
    font-family: Roboto;
}

@font-face{
    src:url(fonts/RobotoSlab-VariableFont_wght.ttf);
    font-family: RobotoSlab;
}


h1{
    font-family:Roboto,verdana, arial;
}
p{
    font-family:"RobotoSlab","lucida console","courier new";
    font-size:  1em;
    font-weight:bold;
    font-style:italic
}
