body{
    margin:0;
}
.box
{
    width:250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    
    transform: translateX(10px) rotateZ(45deg) scale(0.5);
}

#box1
{
    background-color: palegreen;
}
#box2
{
    background-color: rgb(255, 32, 3);
}
#box3
{
    background-color: rgb(4, 13, 255);
}
