body{
    margin:0;
}
.box
{
    width:250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    
    transform: translateX(10px) rotateZ(45deg) scale(0.5);
}

#box1
{
    background-color: palegreen;
}
#box2
{
    background-color: rgb(255, 32, 3);
}
#box3
{
    background-color: rgb(4, 13, 255);
}




/*body{
    margin: 0;
}

#box1
{
    width:250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: palegreen;


   /* transform: translate(50px,50px);  */  

   /* transform: rotateY(45deg); /* (X,Y,Z) axis */

   /*transform: scale(0.5,1); */

   /*transform: skewY(45deg);*/

   /*transform: translateX(100%) rotateZ(90deg) scale(0.5); */

/*

} */








