#box1
{
    width: 200px;
    height: 200px;
    background-color: rgb(7, 182, 241);
    position: sticky;
    top: 0px;
    left: 100px;
}
#box2
{
    width:100px;
    height:100px;
    background-color: rgb(241, 7, 182);
    position: static;
    top:50px;
    left:50px;
}
